/*-- scss:defaults --*/

// Base document colors
$body-bg: #181818;
$body-color: white;
$link-color: #75AADB;

$light: #525252;

// Navigation element colors
$footer-bg: #181818;
$navbar-bg: #303030;
$sidebar-bg: #303030;

// Code blocks
$code-block-bg-alpha: -.8;

// Bootstrap popovers
$popover-bg: #242424;

// Bootstrap inputs
$input-bg: #242424;

// Colors
$darkgray: #39424b;

.gray-background {
  background-color: $darkgray;
}


// Icons

.bluesky{
  padding: 1em 1em 1em 4em;
  margin-bottom: 10px;
  margin-left: 10px;
  border: 1pt solid #d8d8d8;
  background: #303030 5px center/3em no-repeat;
  background-image: url("style/icons/bluesky.png");
}


