/*-- scss:defaults --*/

@import 'https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap';

$link-color: #4f7c8d;

// Colors
$graywhite: #edeff1;

.gray-background {
  background-color: $graywhite;
}


